body{ 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: black;
}
.navegação{
    width: 80%;
    height: auto;
    background-color: rgba(253, 140, 159, 0.267);
    border-radius: 5%;
    margin: 70px;
    padding: 30px;
    text-align: center;
}
img{
    width: 99%;
    height: 99%;
}
p, h1, h2, h3 {
    color: white;
}