body{ 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-image: url(image/fundo.jpg);
    background-size: cover;
}
.navegação {
    width: 80%;
    height: auto;
    background-color: rgb(255, 168, 183);
    border-radius: 5%;
    margin: 50px;
    padding: 15px;
}
.navegação2 {
    width: 850px;
    height: 650px;
    background-color: rgb(255, 168, 183);
    border-radius: 10%;
    margin: 50px;
    padding: 15px;
}
.titulo, h3, h4, h5, h6{
    color: rgb(34, 34, 34);
    margin: 8px;
    padding: 5px;
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: rgba(58, 58, 255, 0.849);
}
#fim {
    color: black;
    padding: 5px;
    margin: 5px;
}